# file types
**.tmp
**.tmp.*
**.bk
**.bk.*
**.ignoreme
**.ignoreme.*
**.ig
**.ig.*
**.test
**.test.*

# dir types
.temp/
**/.temp/
.ignored/
**/.ignored/
**/.IGNORED/
.IGNORED/
.ignoreme/
**/.ignoreme/
.test/
**/.test/
.diffs/
**/.diffs/
.patches/
**/.patches/


