#############################################
#  FZF Key Binding Configurations
#############################################


#############################################
#	FZF DEFAULT OPTIONS
#############################################

export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude ".git" --ignore-file "$HOME/dotfiles/config.d/fd/fd.ignore"'

# nord color scheme 
export FZF_DEFAULT_OPTS="
  --no-height
  --input-border=sharp
  --list-border=sharp
  --highlight-line
  --cycle
  --marker '|'
  --multi
  --color header:italic
  --color query:regular
  --no-mouse
  --scroll-off=2
  --header '<Ctrl-Y>: Copy to clipboard.<Ctrl-G>: Accept and execute selection.<Ctrl-X>: Accept only. <Ctrl-A>: Toggle selections.'
  --bind 'alt-b:backward-kill-word'
  --bind 'alt-left:prev-selected'
  --bind 'alt-right:next-selected'
  --bind 'alt-a:toggle-all'
  --bind 'ctrl-alt-e:kill-line'
  --bind 'ctrl-alt-f:kill-word'
  --bind 'ctrl-delete:kill-line'
  --bind 'ctrl-f:forward-word'
  --bind 'ctrl-y:execute-silent(echo -n {} | xclip -selection clipboard)+abort'
  --bind 'ctrl-space:toggle-preview'
  --bind 'ctrl-w:backward-kill-word'
  --bind 'ctrl-x:accept'
  --bind 'end:last'
  --bind 'home:first'
"
# export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS' --color=fg:#f5f9ff,bg:#3b4252,hl:#5e81ac --color=fg+:#e5e9f0:dim,bg+:#3b4252,hl+:#81a1c1 --color=info:#ebcb8b,prompt:#bf6069 --color=marker:#a3be8b,spinner:#b48dac,header:#8fbcbb'
# export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS' --color=fg:#f5f9ff,bg:#3b4252,hl:#5e81ac --color=fg+:#e5e9f0:dim,bg+:#3b4252,hl+:#81a1c1 --color=info:#ebcb8b,prompt:#bf6069 --color=marker:#a3be8b'
export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS'
  --color=fg:#e5e9f0,bg:#2e3440,hl:#81a1c1
  --color=fg+:#e5e9f0,bg+:#3b4252,hl+:#81a1c1
  --color=marker:#a3be8c,spinner:#b48ead,header:#a3be8c'


#############################################
#   CTRL-T
#############################################
export FZF_CTRL_T_COMMAND='fd -t f --ignore-file "$HOME/dotfiles/config.d/fd/fd.ignore"'
export FZF_CTRL_T_OPTS="  --preview 'bat -n --color=always {}'"
export FZF_CTRL_T_OPTS="
--preview 'bat -n --color=always {}' 
--header-border sharp
--header 'Ctrl-T: Echo selected paths'
--layout reverse
--header-first
--exit-0
"

#############################################
#   ALT-C 
#############################################
# export FZF_ALT_C_COMMAND='fd --changed-within 2M -a -t d . $HOME'    # use $HOME instead of CWD as FZF starting point
export FZF_ALT_C_COMMAND='fd . $HOME -t d --exclude "*venv*"'    # use $HOME instead of CWD as FZF starting point
export FZF_ALT_C_OPTS="--exit-0 --preview 'tree -C {} | head -200'"

#############################################
#   CTRL-R / History
#############################################

__fzf_history__() {
  local selected
  selected=$(
    HISTTIMEFORMAT='' history |
    sort -rn |
    awk '!seen[$0]++' |
    sed 's/^ *[0-9]* *//' |
    fzf --tac --no-sort --query "$READLINE_LINE" --preview 'echo {}' \
        --preview-window up:3:hidden:wrap \
        --bind 'ctrl-e:toggle-preview' \
        --bind 'end:last' \
        --bind 'home:first' \
        --color header:italic \
        --scheme=history
  ) && READLINE_LINE="$selected" && READLINE_POINT=${#selected}
}
bind -x '"\C-r": __fzf_history__'

#############################################
#   CTRL-T
#############################################
export FZF_CTRL_T_COMMAND='fd -t f --ignore-file "$HOME/dotfiles/config.d/fd/fd.ignore"'
export FZF_CTRL_T_OPTS="  --preview 'bat -n --color=always {}'"
export FZF_CTRL_T_OPTS="
--preview 'bat -n --color=always {}' 
--header-border sharp
--header 'Ctrl-T: Echo selected paths'
--layout reverse
--header-first
--exit-0
"

#############################################
#   ALT-C 
#############################################
# export FZF_ALT_C_COMMAND='fd --changed-within 2M -a -t d . $HOME'    # use $HOME instead of CWD as FZF starting point
export FZF_ALT_C_COMMAND='fd . $HOME -t d --exclude "*venv*"'    # use $HOME instead of CWD as FZF starting point
export FZF_ALT_C_OPTS="--exit-0 --preview 'tree -C {} | head -200'"

#############################################
#   OTHER/MISC.
#############################################

_fzf_complete_man(){
    local lbuf="$1"
    local prefix="$2"
    local name section dash description
    local matches=($(man -k . | fzf -m | while read -r name section dash description; do
        echo "$name.${${section#\(}%\)}"
    done))
    [ -z "$matches" ] && return 1
    LBUFFER="$LBUFFER${matches[@]}"
 }
