#############################################
#  FZF Key Binding Configurations
#############################################


#############################################
#	FZF DEFAULT OPTIONS
#############################################

export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git --ignore-file "$HOME/dotfiles/config.d/fd/fd.ignore"'

# nord color scheme 
export FZF_DEFAULT_OPTS="
	--no-height
	--pointer='>>'
  	--input-border=sharp
  	--list-border=sharp
  	--highlight-line
  	--cycle
  	--marker '|'
  	--multi
	--color header:italic
	--color query:regular
  --history-size=5000
  --no-mouse
"
# --header 'Default header. Toggle selection with <Ctrl-Space>. Accept selections with <Enter> or <Ctrl-g>.' \

export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS' --color=fg:#f5f9ff,bg:#3b4252,hl:#5e81ac --color=fg+:#e5e9f0:dim,bg+:#3b4252,hl+:#81a1c1 --color=info:#ebcb8b,prompt:#bf6069
,pointer:#b48dac --color=marker:#a3be8b,spinner:#b48dac,header:#8fbcbb'

export FZF_DEFAULT_PICKER_BINDINGS="

  --bind 'ctrl-b:backward-word' \
  --bind 'ctrl-alt-b:backward-kill-word' \
  --bind 'ctrl-w:backward-kill-word' \
  --bind 'ctrl-f:forward-word' \
  --bind 'ctrl-alt-f:forward-kill-word' \
  --bind 'ctrl-alt-e:kill-line' \
  --bind 'ctrl-delete:kill-line' \
  --bind 'home:first' \
  --bind 'end:last' \
  --bind 'alt-left:prev-selected' \
  --bind 'alt-right:next-selected' \
  --bind 'ctrl-a:toggle-all' \
  --bind 'ctrl-x:exclude-multi' \
  --bind 'ctrl-space:toggle-preview' \
  --bind 'ctrl-g:execute-silent(echo -n {} | xclip -selection clipboard)+abort'
  --bind 'ctrl-x:accept' \
"

#############################################
#   CTRL-T
#############################################
export FZF_CTRL_T_COMMAND='fd -t f'
export FZF_CTRL_T_OPTS="  --preview 'bat -n --color=always {}'"


#############################################
#   ALT-C 
#############################################
export FZF_ALT_C_COMMAND='fd --changed-within 3M -a -t d . $HOME'    # use $HOME instead of CWD as FZF starting point
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"

#############################################
#   CTRL-R/History
#############################################
# export FZF_CTRL_R_OPTS="
#   --preview 'echo {}' --preview-window up:3:hidden:wrap
#   --bind 'ctrl-e:toggle-preview'
#   --bind 'ctrl-g:accept+execute'
#   --color header:italic
#   --header 'Press <Enter> to accept selection. Press <CTRL-E> to toggle command previewer. Press <Ctrl-G> to accept and run (execute) selection.'"


# CTRL-R Command
export FZF_CTRL_R_COMMAND='
history |
sed "s/^ *[0-9]* *//" |
tac |
awk "!seen[\$0]++"
'

# CTRL-R Opts
#    <C-y> to copy current selection/line to clipboard
#    <Ctrl-d>:  Removes command from history and reloads picker
export FZF_CTRL_R_OPTS="
--layout=reverse
--border
--info=inline
--prompt='History > '
--header='CTRL-R: fuzzy search command history'
--preview 'echo {} | bat --style=plain --color=always --language=bash'
--preview-window down:3:wrap
--bind 'ctrl-y:execute-silent(echo -n {} | xclip -selection clipboard)+abort'
--bind 'ctrl-d:execute-silent(history -d {1})+reload(history)'
"



#############################################
#   OTHER/MISC.
#############################################

_fzf_complete_man(){
    local lbuf="$1"
    local prefix="$2"
    local name section dash description
    local matches=($(man -k . | fzf -m | while read -r name section dash description; do
        echo "$name.${${section#\(}%\)}"
    done))
    [ -z "$matches" ] && return 1
    LBUFFER="$LBUFFER${matches[@]}"
 }
