# FZF Extended Config for PS1/Windows OS

# ------------------------------------------------------------------
# Defaults
# ------------------------------------------------------------------


# ------------------------------------------------------------------
# Keybinds
# ------------------------------------------------------------------

# ------------------------------------------------------------------
# Ctrl-R
# ------------------------------------------------------------------

export FZF_CTRL_R_OPTS="
--layout=reverse
--border
--no-height
--info=inline
--prompt='History > '
--header='CTRL-R: fuzzy search command history'
--preview 'echo {} | bat --style=plain --color=always --language=bash'
--preview-window down:3:wrap
--bind 'ctrl-y:execute-silent(echo -n {} | xclip -selection clipboard)+abort'
--bind 'ctrl-d:execute-silent(history -d {1})+reload(history)'
"


