# file patterns
**.lazyignore
**.lazyignore.*
**.orig
**.orig.*

# directory patterns
lazyignore/
**/lazyignore/


# anything and everything

# file patterns
**.lazyignore
**.lazyignore.*
**.orig
**.orig.*

# directory patterns
lazyignore/
**/lazyignore/


# anything and everything

