# runtime config file with shell-agnostic aliases 

# adhoc aliases
alias ce="cheat -e"
alias cl="cheat -l"
alias clg="cheat -l | egrep "
alias egv="egrep -v"
alias fdcb="fd -a --changed-before"
alias fdcb="fd --changed-before"
alias fdcw="fd -a --changed-within"
alias fdcwr="fd --changed-within"

# conveience alias for quick listing all files within current working filetree 
alias fdfq="fd -t f . \"$(pwd)\""

# same as above but for dirs
alias fdfq="fd -t d . \"$(pwd)\""

alias jc="jupyter console"
alias jl="jupyter lab"
alias la="ls -la"
alias ll="ls -l"
alias python="python3"
alias nv="nvim"
alias n="nvim"
alias v="vim"
alias xargs="xargs -I \"{}\""
alias XARGS="$(which xargs)"


# tmux aliases
alias tma='tmux attach'
alias tmab='tmux save-buffer -a'
alias tmcb='tmux choose-buffer'
alias tmds='tmux detach'
alias tmka='tmux kill-session -a'
alias tmkp='tmux kill-pane'
alias tmkpa='tmux kill-pane -a'
alias tmks='tmux kill-session'
alias tmkw='tmux kill-window'
alias tmlk='tmux list-keys'
alias tmlkg='tmux list-keys  | egrep -i '
alias tmls='tmux ls'
alias tmmw='tmux move-window'
alias tmns='tmux new-session -t'
alias tmnw='tmux new-window -t'
alias tmnwn='tmux new-window -n '
alias tmpb='tmux paste-buffer'
alias tmshb='tmux show-buffer'
alias tmsk='tmux send-keys '
alias tmstb='tmux set-buffer'
alias tmsvb='tmux save-buffer'

# git aliases
alias ga="git add"
alias gad="git add --dry-run"
alias gco="git checkout"
alias gco1="git checkout @{-1}"
alias gbl="git branch -la"
alias gbsa="git branch --sort=refname"		# [g]it [b]ranch [s]ort [a]lphabetically
alias gbl="git branch -la"
alias gcb="git checkout -b"
alias gcm="git commit"
alias gcmm="git commit -m"
alias gcma="git commit -a"
alias gcmn="git checkout main"
alias gd="git diff"
alias gdh="git diff HEAD"
alias gdst="git diff --stat"
alias gdsg="git diff --staged"
alias gdo="git diff origin"
alias gdm="git diff main"
alias gdom="git diff origin/main"
alias glg="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias glgh="git log --graph --decorate --pretty=oneline --abbrev-commit --all"
alias glgl="git log   -1 HEAD"
alias gm="git merge"
alias gm1="git merge @{-1}"
alias gp="git push"
alias gpf="git push -f"
alias gpu="git push -u origin"
alias gpl="git pull"
alias gs="git status"
alias gsst="git status --show-stash"
alias grs="git restore"
alias grss="git restore --staged"
alias gfo="git fetch origin"
alias grb="git rebase"
alias gsh="git stash"
alias gshl="git stash --list --all"
alias gshp="git stash push --message"
alias gshv="git stash show --patch"   # view patched stash

# sort branches, with the most recent commits first 	(gbst == [g]it [b]ranch [s]orted by [t]ime descending)
alias gbst="git branch --sort=-committerdate"

# sort branches, with the oldest commits first
alias gbsT="git branch --sort=committerdate"

# ------------------------------------------------------------------------------------
# Unsorted Aliases
# ------------------------------------------------------------------------------------

# alias for enabling nvim python venv
alias vvn='source "$HOME/dotfiles/config.d/venvs/venv-nvimd/bin/activate"'

# misc.
alias ag="alias | egrep"
alias hg="history | egrep"
alias vg="env | egrep"
alias h5="head -n 5"
alias h15="head -n 15"
alias h25="head -n 25"
alias h50="head -n 50"
alias h100="head -n 100"
alias t5="tail -n 5"
alias t15="tail -n 15"
alias t25="tail -n 25"
alias t50="tail -n 50"
alias t100="tail -n 100"

# zoxide shortcuts
alias Z="zi"
alias za="zoxide add"
alias zq="zoxide query"
alias zr="zoxide remove"
alias ze="zoxide edit"


# @EXPT: from FC cmd help page
# Usage:
#	`r cc`	# run last command beginning with 'cc'
#	`r`	# rerun last command
alias r="fc -s"

# ------------------------------------------------------------------------------------
# Final Aliases (aliases that are intentionally sourced last)
# ------------------------------------------------------------------------------------

# peek 1 level below in filesystem 
alias t1="tree -L 1"
alias tree1="tree -L1"

# xclip copy
#   - example: cat file1.txt | cpi
alias copy='xclip -selection clipboard'
alias xcopy="xclip -i -selection clipboard"

# xclip paste
#   - example: echo $(xclip -o -selection clipboard)  
alias xpaste='echo $(xclip -o -selection clipboard)'
alias paste='xclip -selection clipboard -o'

# curl real help
alias curl_man="curl -M"
alias timestamp='date +"%Y%m%d_%H%M%S"'
alias datestamp='date +"%Y%m%d"'

# common qol medley
alias zz="cd $HOME"
alias zzd="cd $HOME/dotfiles"
alias zzg="cd $HOME/git"
