# runtime config file with shell-agnostic aliases 

# adhoc aliases
alias python="python3"
alias egv="egrep -v"
alias la="ls -la"
alias ll="ls -l"
alias ce="cheat -e"
alias cl="cheat -l"
alias XARGS="$(which xargs)"
alias xargs="xargs -I \"{}\""
alias fdcw="fd --changed-within"
alias fdcb="fd --changed-before"

# tmux aliases
alias tma='tmux attach'
alias tmab='tmux save-buffer -a'
alias tmcb='tmux choose-buffer'
alias tmds='tmux detach'
alias tmka='tmux kill-session -a'
alias tmkp='tmux kill-pane'
alias tmkpa='tmux kill-pane -a'
alias tmks='tmux kill-session'
alias tmkw='tmux kill-window'
alias tmlk='tmux list-keys'
alias tmlkg='tmux list-keys  | egrep -i '
alias tmls='tmux ls'
alias tmmw='tmux move-window'
alias tmns='tmux new-session -t'
alias tmnw='tmux new-window -t'
alias tmnwn='tmux new-window -n '
alias tmpb='tmux paste-buffer'
alias tmshb='tmux show-buffer'
alias tmsk='tmux send-keys '
alias tmstb='tmux set-buffer'
alias tmsvb='tmux save-buffer'

# git aliases
alias ga="git add"
alias gs="git status"
alias gd="git diff"
alias gm="git merge"
alias glg="git log"
alias gcm="git commit"
alias gbl="git branch -la"
# sorted with the most recent commits first
alias gbs="git branch -la --sort=-committerdate"
# sorted with the oldest commits first
alias gbS="git branch -la --sort=-committerdate"
alias gcb="git checkout -b"
alias gcmn="git checkout main"
alias gpl="git pull"


# unsorted aliases
