# runtime config file with experimental shell-agnostic code
# code either is an RC undergoing final tests
# or an adhoc/temporary configuration


# nvim kickstart-modular parallel configuration
alias nvim-kickstart='NVIM_APPNAME="nvim-kickstart" nvim'
alias nk='NVIM_APPNAME="nvim-kickstart" nvim'

# nvim aliases
alias n="nvim"
alias nv="nvim"
alias NV="nvim"

# vim aliases
alias v="vim"
alias V="vim"


