# runtime config file with shell-agnostic functions

function mcd() {
    local dirPath="$1"
    # @TODO: add logic for handling no paths given 
    # <if $1 doesnt exist ... do ... >
    mkdir -pv "$dirPath"
    cd "$dirPath"
}
