# runtime config file with shell-agnostic functions

function mcd() {
    local dirPath="$1"
    if [[ -z "$1" ]]; then
	    echo "Error - required path argument was not provided"
	    return 1
    else
	    mkdir -p "$dirPath"
	    cd "$dirPath"

	    echo "Created dirpath: $dirPath"
	    echo ""
    fi
}

function venvActivate() {
	
	venvLinuxRgx="bin.activate$"		# pattern to filter out VENV file noise

	# use "XDG Local Config 'venvs' dir for default
	if [[ ! -d "$1" ]]; then
		VENV_DIR="$HOME/.config/venvs"
	else
		VENV_DIR="$1"
	fi

	echo "VENV search will start from dir: \"$VENV_DIR\""
	echo ""

	# fetch venv path from FZF and activate
	activateScriptPath="$(find "$VENV_DIR" -type f  | egrep "$venvLinuxRgx" \
				 	| fzf --exit-0 --select-1)"

	#echo source "$activateScriptPath"
	source "$activateScriptPath" 1> /dev/null
}


# Remote machine OSC 52 clipboard workaround
if ! hostname | grep -q "zac.hp"; then
  echo "Remote machine"
  clip() {
      printf "\033]52;c;$(base64 -w0)\a"
  }
else
  echo "Local machine"
fi

# git rebase helper
# Interactive rebase helper

function grbi() {
  # verify the input is a positive int
  if [[ -n "$1" && "$1" =~ ^[0-9]+$ ]]; then
    echo "Starting interactive rebase for the last $1 commits..."
    git rebase -i "HEAD~$1"
  else
    echo "Error: Please provide a valid number of commits."
    echo "Usage: grb 3"
  fi
}


