# RC submodule sourcing file (which is sourced by bashrc)

IGNR_RGX=""

# dependencies (e.g. package dependency, folder existing, etc.) resolved here
# <code>


# RC modules w/o dependencies sourced here
#

# source terminal/prompt related configurations
source "$HOME/dotfiles/utils.d/terminal.rc" 1> /dev/null


# post-sourcing dependencies + override/patch modules sourced here
