#  shell-agnostic runtime config file for shell exports and env. variables

export XDG_BIN_HOME="$HOME/.local/bin"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DOCXS_HOME="$HOME/.local/docxs"
export XDG_DATA_HOME="$HOME/.local/data"

mkdir -pv "$XDG_DATA_HOME" 
ln -fs "$XDG_DOCXS_HOME" "$HOME/.local/share"

# personal/non-standard XDG dirs
export XDG_TMP_HOME="$HOME/.local/tmp"
export XDG_GIT_REPOS_HOME="$HOME/git"
export XDG_DOWNLOADS_HOME="$HOME/.local/var/downloads"

# set editor to NVIM if installed, otherwise use VIM as fallback
#export EDITOR=$(command -v nvim || command -v vim || echo "vi")
#export EDITOR="nvim"
export EDITOR="vim"
#export EDITOR="nvim"

#if command -v nvim >/dev/null 2>&1; then
#  export EDITOR='nvim'
#else
#  export EDITOR='vim'
#fi
#
#export VISUAL=$EDITOR



# configure $PATH for extra directories
export PATH="$PATH:/opt/local/bin"

# x11 ssh clipboard
#export DISPLAY=:0

# WSL alacritty config file path
export WSL_TERMINAL_CONFIG="/mnt/c/Users/zaccs/AppData/Roaming/alacritty/alacritty.toml"
export WSL_ALACRITTY_CONFIG="/mnt/c/Users/zaccs/AppData/Roaming/alacritty/alacritty.toml"

# nvim python venv.
export VENV_NVIMD="$HOME/dotfiles/config.d/venvs/venv-nvimd"
